.app {
    font-family: $text-font-family;

    input,
    button,
    select,
    textarea {
        font-family: $text-font-family;
        line-height: normal;
    }

    .border-radius {
        border-radius: $border-radius-base
    }

    .history-limited-box {
        color: $state-warning-border;
        border: 1px solid $state-warning-border;
        box-shadow: 0 0 2px $state-warning-border;
    }

    .top-messages-logo svg circle {
        fill: $dark-gray;
        stroke: $dark-gray;
    }

    .top-messages-logo svg path {
        fill: $body-bg;
        stroke: $body-bg;
    }

    #unmute_muted_topic_notification {
        background-color: lighten($body-bg, 2%);
        border-radius: $border-radius-large;
        box-shadow: 0px 0px 30px rgba($black, 0.25);
    }

    @keyframes pulse {
        0% {
            box-shadow: 0px 0px 30px rgba($black, 0.35);
        }

        50% {
            box-shadow: 0px 0px 30px rgba($black, 0.15);
        }

        100% {
            box-shadow: 0px 0px 30px rgba($black, 0.35);
        }
    }

    .header {
        border-bottom: 1px solid rgba($black, 0.2);
    }

    #panels .alert {
        color: $inverted-text-color;
    }

    #panels .alert.alert-info {
        background-color: $brand-info;
    }

    #panels .alert.alert-info.red {
        background-color: $brand-danger;
    }

    #panels .alert .alert-link {
        color: $state-info-text;
    }

    #panels .alert.red .alert-link {
        color: $state-danger-text;
    }

    .copy_message,
    .copy_message:focus {
        background-color: $body-bg;
    }

    .copy_message:hover svg path {
        fill: $black;
    }

    .header-main .logo {
        color: $inverted-text-color;
    }

    .message_header {
        border-radius: $border-radius-base $border-radius-base 0 0; 
    }

    .message_content {
        padding: 0 0 2px 0;
        code {
            background-color: $body-bg;
        }
    }

    .messagebox {
        p:last-of-type {
            margin-bottom: 7px;
        }
        p {
            margin: 0 10px 7px;
            line-height: 1.5em;
        }
    }

    pre::-webkit-scrollbar {
        background-color: rgba($black, 0.05);
    }

    pre::-webkit-scrollbar-thumb {
        background-color: rgba($black, 0.3);
    }

    pre::-webkit-scrollbar-thumb:hover {
        background-color: rgba($black, 0.6);
    }


    /* Style inline code inside a link
       to look more like a normal link */
    a code {
        color: darken($link-color, 8%);
        border-color: darken($link-color, 8%);
    }

    a:hover code {
        color: darken($link-color, 20%);
        border-color: darken($link-color, 20%);
    }

    .sidebar-title {
        color: $medium-dark-gray;
    }

    .tooltip .tooltip-inner {
        background-color: rgba($black, 0.8);
    }

    #message_edit_tooltip {
        color: $black;
    }

    td.pointer {
        background-color: $body-bg;
    }

    .new_messages {
        background-color: $state-info-bg;
    }


    /* The way this overrides the menus with a background-color and a high
       z-index is kinda hacky, and requires some annoying color-matching,
       but it works. */
    .alert-msg {
        color: $state-info-text;
        background-color: $body-bg;
    }

    .private-message .alert-msg {
        background-color: lighten($state-info-bg, 15%);
    }

    .message_data {
        background-color: $body-bg;
    }

    .message_list .recipient_row {
        border-bottom: 1px solid lighten($medium-light-gray, 15%);
    }

    .floating_recipient .recipient_row {
        border-top: 1px solid lighten($medium-light-gray, 15%);
    }

    #left-sidebar {
        padding: 0 3px;    
    }

    .stream_label {
        border-top-color: rgba($black, 0);
        border-right-color: rgba($black, 0);
        border-bottom-color: rgba($black, 0);
        background-color: lighten($medium-light-gray, 15%);
        border-left-color: lighten($medium-light-gray, 15%);
    }

    .stream_label::before {
        border-color: rgba($black, 0) rgba($black, 0) rgba($black, 0) transparent;
    }

    .recipient_row_date {
        color: $medium-gray;
    }

    .summary_row.last_message .message_header {
        box-shadow:
            inset 0px 2px 1px -2px darken($dark-gray, 10%),
            inset -2px 0px 1px -2px darken($dark-gray, 10%),
            inset 0px -2px 1px -2px darken($dark-gray, 10%);
    }

    .summary_row_private_message .summary_colorblock {
        background-color: $black;
    }

    .message_header_private_message .message_label_clickable {
        border-left-color: $dark-gray;
    }

    /* Base color backgrounds for messageboxes,
       private messages, mentions, and unread messages */
    .private-message .messagebox,
    .message_header_private_message .message-header-contents {
        background-color: $state-primary-bg;
        box-shadow: inset 1px 1px 0px lighten($medium-light-gray, 5%);
    }


    .message-header-contents {
        background-color: lighten($medium-light-gray, 5%);
        border-right: 1px solid lighten($medium-light-gray, 5%);
    }

    .mention .messagebox {
        background-color: $state-danger-bg;
    }

    .unread-marker-fill {
        background-color: $state-success-bg;
        box-shadow: inset 0px -1px 0px 0px $body-bg;
    }

    .selected_message .messagebox-content {
        background-color: $state-primary-bg;
        box-shadow: none;
        /*
            inset 0px 0px 0px 2px lighten($brand-primary, 10%),
            -1px -1px 0px 0px lighten($brand-primary, 10%),
            1px 1px 0px 0px lighten($brand-primary, 10%),
            -1px 1px 0px 0px lighten($brand-primary, 10%),
            1px -1px 0px 0px lighten($brand-primary, 10%);
            */
    }

    .sender_name_hovered .sender_name,
    .sender_name_hovered .sender_name-in-status {
        color: $link-color;
    }

    .actions_hover:hover {
        color: $link-color;
    }

    .message_failed {
        color: $brand-danger;
    }

    a.message_label_clickable:hover {
        color: $link-color;
    }

    .edit_content {
        color: $medium-light-gray;
    }

    .edit_content:hover {
        color: $link-color;
    }

    .message_controls > .reaction_button {
        color: $medium-light-gray;
    }

    .message_controls > .reaction_button:hover {
        color: $link-color;
    }

    /* Brighten text because of the dark background */
    .dark_background a,
    .dark_background a:hover,
    a.dark_background:hover,
    .dark_background {
        color: $inverted-text-color !important;
    }

    .dark_background a.message_label_clickable:hover {
        color: lighten($link-color, 15%);
    }

    .actions_hovered .message_time,
    .actions_hovered .info {
        color: $link-color;
    }

    .info {
        color: $medium-light-gray;
    }

    .message_row {
        border-left: 1px solid rgba($black, 0.1);
        border-right: 1px solid rgba($black, 0.1);
    }

    .message_edit_countdown_timer {
        color: $medium-gray;
    }

    .message_edit_tooltip {
        color: $medium-gray;
    }

    .message_length_controller {
        color: $link-color;
    }

    div.message_content thead {
        background-color: $light-gray;
    }

    div.message_content tr th {
        border: 1px solid $medium-light-gray;
    }

    div.message_content tr td {
        border: 1px solid $medium-light-gray;
    }

    .messagebox blockquote {
        border-left-color: $medium-light-gray;
    }

    .messagebox .rtl blockquote {
        border-right: 5px solid $medium-light-gray;
    }

    #tab_list li {
        background-color: lighten($light-gray, 15%);
    }

    #tab_list li.inactive {
        background-color: lighten($medium-light-gray, 18%);
    }

    #tab_list li.private_message a {
        color: $inverted-text-color;
    }

    #tab_list li.active {
        background-color: lighten($medium-light-gray, 15%);
    }

    #tab_list li.active.root {
        padding: 0px 10px;
    }

    #tab_list li.private_message {
        border-top-color: rgba($black, 0);
        border-right-color: rgba($black, 0);
        border-bottom-color: rgba($black, 0);
        background-color: $dark-gray;
        border-left-color: $dark-gray;
        color: $inverted-text-color;
    }

    #tab_list .root {
        border-color: lighten($medium-light-gray, 15%);
        background-color: lighten($medium-light-gray, 15%);
    }

    #tab_list li.root a {
        color: $medium-gray;
    }

    #tab_list .root a:hover {
        color: $black;
    }

    #streamlist-toggle {
        border-right: 2px solid $medium-light-gray;
    }

    #streamlist-toggle-button {
        color: $medium-gray;
        background-color: lighten($medium-light-gray, 15%);
    }

    #streamlist-toggle-unreadcount,
    #userlist-toggle-unreadcount {
        background-color: $state-danger-bg; /* hsl(0, 100%, 20%); */
        border: 1px solid $light-gray;
        box-shadow: 0px 0px 1px rgba($black, 0.2);
        color: $inverted-text-color;
    }

    .nav .dropdown-menu {
        -webkit-box-shadow: 0px 0px 5px rgba($black, 0.2);
        -moz-box-shadow: 0px 0px 5px rgba($black, 0.2);
        box-shadow: 0px 0px 5px rgba($black, 0.2);
    }

    .typeahead.dropdown-menu .active {
        color: $inverted-text-color;
    }

    .typeahead.dropdown-menu .active .unsubscribed_icon {
        color: $medium-light-gray;
    }

    .nav .dropdown-menu::after {
        border-bottom: 7px solid $medium-gray;
    }

    
    nav .column-left .company-name {
        color: $state-info-text;
    }

    .modal-bg {
        background-color: lighten($light-gray, 15%);
    }

    #searchbox {
        border-left: 1px solid lighten($medium-light-gray, 15%);
        border-right: 1px solid lighten($medium-light-gray, 15%);

    
        .search_button,
        .search_button[disabled]:hover {
            color: $medium-light-gray;
        }

        .search_button:hover {
            color: $black;
        }

        a.search_icon {
            color: $medium-light-gray;
        }

        a.search_icon:hover {
            color: $black;
        }
    }

    #searchbox_legacy {
    
        #search_query {
            font-family: $text-font-family;
        }

        #search_query:focus {
            box-shadow: inset 0px 0px 0px 2px $medium-light-gray;
        }

        .search_button,
        .search_button[disabled]:hover {
            color: $medium-light-gray;
        }

        .search_button:hover {
            color: $black;
        }

        a.search_icon {
            color: $medium-light-gray;
        }

        a.search_icon:hover {
            color: $black;
        }
    }

    .highlight {
        background-color: $state-warning-bg;
    }

    .highlight_text_inserted {
        color: $state-success-text;
        background-color: $state-success-bg;
    }

    .highlight_text_deleted {
        color: $medium-light-gray;
        background-color: $state-danger-bg;
    }

    .youtube-video .fa-play::before {
        background-color: $black;
        color: $inverted-text-color;
        opacity: 0.7;
    }

    .tex-error {
        color: $medium-gray;
    }

    .operator_value {
        font-family: $monospace-font-family;
        color: $code-color;
    }

    .operator {
        font-family: $monospace-font-family;
    }

    .table-striped thead th {
        background-color: $dark-gray;
        color: $inverted-text-color;
    }

    button.primary {
        background-color: $brand-primary;
        color: $inverted-text-color;
        border: none;
        border-radius: 0px;
    }

    button.primary:hover {
        background-color: lighten($brand-primary, 10%);
    }

    button.primary:focus {
        outline: solid;
    }

    button.topic_edit_save,
    button.topic_edit_cancel {
        border-radius: $border-radius-base;
    }

    
    #invite-user .modal-header {
        border-color: $medium-light-gray;
    }

    #invite-user .modal-header .exit {
        color: $medium-gray;
    }

    .twitter-tweet {
        border: 1px solid $medium-light-gray;
    }

    .star {
        &:not(.empty-star) {
            color: $brand-success;
        }
        &:hover {
            color: darken($brand-success, 10%);
        }
    }

    .date_row .date-line {
        border-top: 1px solid lighten($medium-light-gray, 15%);
    }

    .sub-unsub-message span::before,
    .sub-unsub-message span::after,
    .date_row span::before,
    .date_row span::after {
        border-top: 1px solid lighten($medium-light-gray, 15%);
        border-bottom: 1px solid $body-bg;
    }

    #message_edit_form a.message-control-button {
        color: darken($medium-gray, 10%);
    }

    .user-group-mention,
    .user-mention {
        background-color: $light-gray;
        border-radius: $border-radius-small;
        box-shadow: 0px 0px 0px 1px $medium-light-gray;
        background: -moz-linear-gradient(top, rgba($black, 0.1) 0%, rgba($black, 0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba($black, 0.1)), color-stop(100%, rgba($black, 0)));
        background: -webkit-linear-gradient(top, rgba($black, 0.1) 0%, rgba($black, 0) 100%);
        background: -o-linear-gradient(top, rgba($black, 0.1) 0%, rgba($black, 0) 100%);
        background: -ms-linear-gradient(top, rgba($black, 0.1) 0%, rgba($black, 0) 100%);
        background: linear-gradient(to bottom, rgba($black, 0.1) 0%, rgba($black, 0) 100%);
    }

    .user-mention-me {
        background-color: $state-success-bg;
    }

    .alert-word {
        background-color: $state-success-bg;
    }

    .screen {
        background-color: $black;
    }

    /* embed */
    .message_content .message_embed {
        border-left: 3px solid $light-gray;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

    .rtl.message_content .message_embed {
        border-right: 3px solid $light-gray;
    }

    .message_embed .data-container::after {
        background: linear-gradient(0deg, $body-bg, transparent 10%);
    }

    .email_copied,
    .user_popover_email i:hover {
        color: $state-info-text;
    }

    .email_tooltip {
        border-radius: $border-radius-large;
        background-color: $dark-gray;
        color: $inverted-text-color;
        
        ::after {
            border-bottom: $dark-gray solid 7px;
        }
    }

    div.message_content button.tictactoe-square {
        background-color: $brand-primary;
        color: $inverted-text-color;
    }

    div.message_content button.tictactoe-square:hover {
        background-color: desaturate($brand-primary, 80%);
    }

    div.message_content button.tictactoe-square:disabled {
        background-color: desaturate($brand-primary, 80%);
    }


    #user-list {
        #user_presences li {
            border-radius: $border-radius-base;
        }
        #group-pms li:hover, 
        #user_presences li.highlighted_user, 
        #user_presences li:hover {
            background-color: $brand-primary;
        }    
    }

    #global_filters li:hover, 
    #group-pms li:hover, 
    #stream_filters li.highlighted_stream, 
    #stream_filters li:hover, 
    #user_presences li.highlighted_user, 
    #user_presences li:hover {
        background-color: $brand-primary;
    }
}

.app-main,
.header-main {
    background-color: $body-bg;
}

.night-mode {
    .header {
        #compose, 
        #settings_page .form-sidebar, 
        #settings_page .right, 
        #subscription_overlay .right, 
        .header-main,  {
            background-color: $night-mode-body-bg;
        }
    }

    .fixed-app {
        #tab_bar_underpadding,  {
            background-color: $night-mode-body-bg;
        }
    }

    .app {
        color: $night-mode-text-color;
        background-color: $night-mode-body-bg;

        .app-main, 
        .column-left .left-sidebar, 
        .column-middle, 
        .column-right .right-sidebar, 
        .floating_recipient .message-header-wrapper {
            background-color: $night-mode-body-bg;
        }

        .selected_message .messagebox-content {
            background-color: $state-primary-bg-dark;
        }

        #user-list {
            #user_presences li {
                border-radius: $border-radius-base;
            }
            #group-pms li:hover, 
            #user_presences li.highlighted_user, 
            #user_presences li:hover {
                background-color: $brand-primary;
            }    
        }
        .private-message .messagebox,
        .message_header_private_message .message-header-contents {
            background-color: $state-primary-bg-dark;
        }

        #global_filters li:hover, 
        #group-pms li:hover, 
        #stream_filters li.highlighted_stream, 
        #stream_filters li:hover, 
        #user_presences li.highlighted_user, 
        #user_presences li:hover {
            background-color: $brand-primary;
        }

        .new-style .button:not(.save-status),
        .new-style .button[disabled=disabled]:hover, 
        .new-style .tab-switcher .ind-tab:not(.selected), 
        .pill-container, 
        input[type=date], 
        input[type=email], 
        input[type=number], 
        input[type=password], 
        input[type=text], 
        input[type=url], 
        select, 
        textarea {
            border-color: $dark-gray    
        }

    }
}


